.textform {
    position: relative;
    left: 50px;
    margin: 20px;
}

.CreatePost {
    position: relative;
    left: 50px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.postButtonTitle {
    color: white;
}

.contentButtonTitle {
    color: white;
    margin-top: 20px;
}

.contentInputBox {
    margin: 10px;
    padding-bottom: 150px;
    width: 70%;
}

.deleteButton {
    width: 100px;
}